*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.nav-list{
    padding: 15px;
    font-size: 0;
}
.list-item{
    display: inline-block;
    background-color: rgb(68, 195, 68);
    padding: 10px;
    position: relative;
    
}
.link{
    text-decoration: none;
    font-size: 30px;
    color: white;
}
.sub-nav-list{
    position: absolute;
    display: block;
    
}

.sub-list-item{
    background-color: rgb(68, 195, 68);
    padding: 10px;
    width: 148px;
    display: none;
    position: relative;
    top: 10px;
    left: -10px;

 }
 .list-item:hover .sub-list-item{
    display: block;
 }
 
 .sub-sub-nav-list{
    position: absolute;
    top: 0;
    left: 140px;
    display: block;
    left: 148px;

 }

.sub-sub-list-item{
    background-color: rgb(68, 195, 68);
    padding: 10px;
    width: 140px;
    display: none;

}

.sub-list-item:hover .sub-sub-list-item{
    display: block;
 }

 .list-item:hover, .sub-list-item:hover,.sub-sub-list-item:hover{
    background-color: rgb(12, 52, 12);
 }
p{
    padding: 15px;
}






