*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.nav-list{
    font-size: 0;

}
.list-item{
    display: inline-block;
    position: relative;
    padding: 20px;
    background-color: orangered;
  

}
.link{
    color: white;
    text-decoration: none;
    font-size: 20px;


}
.sub-nav-list{
    position: absolute;
    left: 5px;
    display: block;
    width: 140px;

}
.sub-list-item{
    display: none;
    background-color: orangered;
    padding: 12px;
    position: relative;

}
.list-item:hover .sub-list-item{
    display: block;

}
.sub-sub-nav-list{
    position: absolute;
    display: block;
    width: 140px;
    top: 3px;
    left: 140px;

}
    .sub-sub-list-item{
      position: relative;
        display: none;
       top: 10px;
        background-color: orangered;
        padding: 12px;
        
        
    }
    .sub-list-item:hover .sub-sub-list-item{
            display: block;
    }

    .sub-sub-sub-nav-list{
        position: absolute;
        left: 20px;
        display: block;
        width: 140px;
        top: 6px;
        left: 140px;
       
        
    }

    .sub-sub-sub-list-item{
        padding: 12px;
        background-color: orangered;
        display: none;
        
    }
    .sub-sub-list-item:hover .sub-sub-sub-list-item{
        display: block;
}
.sub-list-item:hover, .sub-sub-list-item:hover, .sub-sub-sub-list-item:hover{
    background-color: rgb(66, 22, 6);
}